header{
  background-image: url('../images/donation13.jpg');
  background-repeat:no-repeat;
  height: 700px;
  background-size: cover;
 
}
div{
  text-align: center;
}
.header-title{
  font-size: 80px;
  font-weight: 900;
  color: white;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 240px;
  font-family: 'Open Sans', sans-serif;
}
.header-description{
  color: white;
  font-size: 23px;
  margin-bottom: 30px;
}
.donation-btn{
  background-color: rgba(213, 64, 10, 0.99);
  color: white;
  font-size: 17px;
  padding: 18px 23px;
  border: none;
  border-radius: 4px;
}
.donation-title{
  margin-top: 60px;
  font-weight: 800;
  font-size: 40px;
}
.donation-description{
  color: #757575;
  font-size: 23px;
}
ul{
  display: flex;
  list-style: none;
  
 
}
.donation{
  text-align: center;
  padding: 40px;
  margin-top:28px;
  margin-right: 25px;
  background-color: rgba(247, 246, 243, 0.733);
  border: none;
  border-radius: 4px;
  font-size: 30px;
  font-weight: 700;
  
}
.selected-donation{
  color: orangered;
  padding: 40px;
  margin-top: 28px;
  margin-right: 25px;
  font-size: 30px;
  font-weight: 700;
  background-color: rgb(240, 229, 226);
  border:2px solid orangered;
  border-radius: 4px;

}
.amount{
  margin-left: 245px;
  margin-right: 50px;
}
.extra-description{
color: #757575;
font-size: 20px;
}
.plan-title{
  margin-top: 60px;
  font-weight: 800;
  font-size: 40px;
}
.plan-description{
  color: #757575;
  font-size: 23px;
}
.planning{
  display: flex;
}
.donate-plan-title{
  margin-top: 30px;
  font-weight: 800;
  font-size: 35px;
}
.donate-plan-description{
  color: #757575;
  font-size: 23px;
}
.plan-family{
background-color: rgb(220, 231, 227);
padding: 15px;
margin-right:20px ;
margin-left: 30px;
border-radius: 5px;
}
.plan-shelter{
background-color: rgb(241, 219, 226);
padding: 15px;
margin-right:20px ;
border-radius: 5px;
}
.plan-education{
background-color: bisque;
padding: 15px;
margin-right:30px ;
border-radius: 5px;
}
img{
  margin-top: 30px;
}